apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
        - name: todo-app
          image: 325583868777.dkr.ecr.eu-central-1.amazonaws.com/gjglc-hlm-ci-todo:latest
          ports:
            - containerPort: 3000
